@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Lugrasimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Lugrasimo&family=Shizuru&display=swap');

@font-face {
    font-family: 'Facinate Inline';
    src: url(../fonts/fascinateinline-regular-webfont.woff2);
}

.blue {
    color:blue;
}

.red {
    color: red;
}

.uppercase {
    text-transform: uppercase;
}

body {
    background-image: url(../images/snowflakes.jpg);
   /* background-repeat: no-repeat;
    background-size: contain;*/
}

.header {
    background-color: aqua;
    background-image: url(../images/winter-tree.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    font-family: 'Shizuru', sans-serif;
    font-size: 8rem;
    text-align: center;
    line-height: 2;
    color: skyblue;
}

p {
    font-family: 'DynaPuff', serif;
    font-size: 1.7rem;
}
